<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UniversalApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A8F955F2925B71FB3F18348C6B2A9DB3B25BB315</string>
				<key>dateExpires</key>
				<string>2019/1/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XCFAH9U34P.com.yidaren.zxt</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XCFAH9U34P</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>UniversalApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>53cf091c-ac60-4592-a907-d2c3853354b0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.yidaren.zxt</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XCFAH9U34P</string>
				<key>name</key>
				<string>Shandong easy to work e-commerce Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
